Source: default-root-sshkey
Section: other
Priority: optional
Maintainer: bgat <bgat@billgatliff.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.3.0

Package: default-root-sshkey-host
Architecture: all
Depends: ${misc:Depends}
Description: default root login key for ptux devices (host side)
 This package is part of Pragmatux http://www.pragmatux.org

Package: default-root-sshkey-device
Architecture: all
Depends: ${misc:Depends}
Description: default root login key for ptux devices (device side)
 This package is part of Pragmatux http://www.pragmatux.org
